body{
    background: #F5F4D1;
    font-family: "Mplus 1p";
}
header{
    background: #EEDD74;
    height: 45px;
}
.daimei{
    background:#A88263;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
}
.daimei>h2{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.back{
    padding-top: 200px;
    z-index: 1;
    position: absolute;

}

#aa{
    margin-left: 100px;
    margin-top: 40px;
}

.next{
    padding-left: 60px;
    padding-top: 200px;
    z-index: 1;
    position: absolute;
}

.nn{
    padding-left: 50px;
}

.bb{
    padding-left: 10px;
}



.btn{
    display: flex;
    margin-top: 30px;
}

.btn-active{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    background: #EEDD74;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px rgba(51, 51, 51,.3);
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
}
.btn-active:active{
    border-bottom:none;
}
.btn-active1{
    display: inline-block;
    padding: 0px 50px;
    text-decoration: none;
    background: #DD6847;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px rgba(51, 51, 51,.3);
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 30px;
    font-size: 30px;
    font-family: "Mplus 1p";
}
.btn-active:active{
    border-bottom:none;
}